

 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  

 
.myfooter {
	
	position:fixed;
bottom:0;
left:0;
	width:100%;
	background-color:rgba(9, 82, 128, 1);
}
.mynav {
	background-color:rgba(9, 82, 128, 1);	
}
.mybutton
{
cursor:pointer;
border-radius:5px;
color:white;
}
.mybutton:hover
{
	background-color:grey;
}
.small_span
{
font: 400 10px Arial;
color: #888;
display: block;
margin: 0px 0;
}
span.badge.cpt_layer{
	font-weight: 300;
	font-size: 0.8rem;
	color: #fff;
	background-color: #26a69a;
	border-radius: 5px;
}
span.cpt_layer {
	min-width: 1.5rem;
}
.sidenav-overlay {
	background-color: rgba(0,0,0,0.2);
	/*display: none !important; */
}
#vigilance_picto_masque {
	position: absolute;
	left: 0px;
}

.select-dropdown{
	color:grey;

}
ul.dropdown-content.select-dropdown li span {
	color: grey;

}
.dropdown-content li > span{
	font-size: 14px;
}
.label-title
{
color: grey;
display: block;
margin: 0px 0px 15px 0px;
}

.etape{
	
	
	text-transform:uppercase;
}
.etape_ok{
	color:black;
	background-color: white	;
}
.etape_erreur{
	color:white;
	background-color: rgb(189, 14, 14)	;
}
.Tiny{
	font-size: 1rem;
}
.Small{
	font-size: 2rem;
}
.Medium{
	font-size: 4rem;
}
.Large{
	font-size: 6rem;
}
.noUi-horizontal {
	height: 15px;
}

.noUi-handle::after,
.noUi-handle::before {

	width: 1px;

}
.noUi-handle{
border-radius: 3px;
}
.noUi-horizontal .noUi-handle,
.noUi-vertical .noUi-handle {
	
	background-color: rgb(18, 120, 151);
}
.modal_trajet  {

	max-height: 100%;
	height:100%;
	width:100%;
}
.modal_terrain  {

	max-height: 100%;
	height:100%;
	width:100%;
}
.leftplus{

	left: 10%;
	width: 80%;
}
.noUi-tooltip {
    display: none;
}
.noUi-active .noUi-tooltip {
    display: block;
}
.bg_grey{
	background-color: grey;
}


.sidenav .collapsible-body {
	background-color: #eee !important;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?jb8x9a');
  src:  url('../fonts/icomoon.eot?jb8x9a#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?jb8x9a') format('truetype'),
    url('../fonts/icomoon.woff?jb8x9a') format('woff'),
    url('../fonts/icomoon.svg?jb8x9a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i, .icomoon-liga {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-wind:before {
  content: "\e900";
}
.icon-skyatlas:before {
  content: "\f216";
}
.icon-thermometer-3:before {
  content: "\f2c8";
}
.icon-thermometer-three-quarters:before {
  content: "\f2c8";
}
.icon-play_arrow:before {
  content: "\e901";
}
.icon-skip_next:before {
  content: "\e902";
}
.icon-skip_previous:before {
  content: "\e903";
}
.icon-location_on:before {
  content: "\e904";
}
.icon-save:before {
  content: "\e905";
}
.icon-airplanemode_active:before {
  content: "\e906";
}
.icon-vertical_align_top:before {
  content: "\e907";
}
.icon-filter_drama:before {
  content: "\e908";
}
.icon-remove_red_eye:before {
  content: "\e909";
}
.icon-layers:before {
  content: "\e90a";
}
.icon-edit_location:before {
  content: "\e90b";
}
.icon-check:before {
  content: "\e90c";
}
.icon-first_page:before {
  content: "\e90d";
}
.icon-last_page:before {
  content: "\e90e";
}
.icon-autorenew:before {
  content: "\e90f";
}
.icon-settings:before {
  content: "\e910";
}
.icon-view_headline:before {
  content: "\e911";
}
.icon-help_outline:before {
  content: "\e914";
}
.icon-timeline:before {
  content: "\e912";
}
.icon-droplet:before {
  content: "\e913";
}
.icon-compass:before {
  content: "\e949";
}
.icon-earth:before {
  content: "\e9ca";
}
